$color_1: #22223B;
$font-family_1: montserrat;

.card {
	align-items: center;
	align-content: center;
}
.card-img {
	transition: 1s;
	&:hover {
		transform: scale(1.1);
	}
}
.card-title {
	font-size: 46px;
}
.card-text {
	font-size: 32px;
}